{% extends 'base.html' %}
{% block content %}


<h1>Dashboard</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <h4>Groups</h4>
        <hr>
        <div class="card card-body">
            <a href="{% url 'add_group' %}" class="btn btn-primary btn-sm btn-block">Add Group</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Group</th>
                    <th>Description</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td><a href="{% url 'group' group.id %}" class="btn btn-sm">View</a></td>
                        <td>{{ group.group_name }}</td>
                        <td>{{ group.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Last 5 Texts</h4>
        <hr>
        <div class="card card-body">
            <a href="{% url 'add_text' %}" class="btn btn-primary btn-sm btn-block">Create Text</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Text Name</th>
                    <th>Group</th>
                </tr>
                {% for text in texts %}
                    <tr>
                        <td><a href="{% url 'text_summary' text.id %}" class="btn btn-sm">View</a></td>
                        <td>{{ text.name }}</td>
                        <td>{{ text.group }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}